---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import CardList from "../../components/CardList.astro";

export const prerender = true;

const posts = (await getCollection("posts", ({ data }) => !data.draft))
  .sort((a, b) => b.data.created.getTime() - a.data.created.getTime())
  .map((post) => ({
    href: `/posts/${post.id}/`,
    title: post.data.title,
    date: post.data.created,
    description: post.data.description,
  }));
---

<BaseLayout title="posts" description="All posts by Xander.">
  <h1>Posts</h1>
  <CardList items={posts} />
</BaseLayout>
