---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";

export const prerender = true;
---

<BaseLayout description="xander">
  <PageTitle title="Home" />
  <div class="h-full w-full"></div>
</BaseLayout>
