---
interface Props {
  title: string;
}

const { title } = Astro.props;
const hasMeta = Astro.slots.has("meta");
---

<h1>{title}</h1>
{
  hasMeta && (
    <p class="post-meta">
      <slot name="meta" />
    </p>
  )
}
