---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import SiteHeader from "../components/SiteHeader.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const fullTitle = title ? `${title} — xandwr` : "xandwr";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <title>{fullTitle}</title>
    {description && <meta name="description" content={description} />}
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
  </head>
  <body
    class="max-w-4xl flex flex-col justify-between mx-auto px-8 py-8 min-h-screen"
  >
    <SiteHeader />

    <hr class="border-0 border-t border-rule/50 mt-4" />

    <main class="flex-1">
      <slot />
    </main>

    <footer class="mt-2">
      <hr class="border-0 border-t border-rule/50 my-2" />

      <p class="text-muted text-lg flex justify-between">
        <a href="https://github.com/xandwr">github (@xandwr)</a><span
          >© {new Date().getFullYear()}</span
        >
      </p>
    </footer>

  </body>
</html>
